:root {
    --blue: #0073cf;
    --gray1: #2D2D2D;
    --gray2: #6C757D;
    --gray3: #F8F9FA;
    /* --white: #FFFFFF; */
    --orange: #FF6B35;
}

body {
    font-family: 'Inter', sans-serif;
    
}

.sidebar {
    background-color: var(--gray1);
    color: var(--gray3);
    padding: 1.5rem;
    min-height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content {
    padding: 2rem;
    min-height: 100vh;
}

.offcanvas-header .btn-close {
    filter: invert(1);
}